{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(aestheticpictures.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #00e8fd;
    color: #ffffff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #ff0000;
}

main {
    padding: 20px;
    color: #00e8fd;
}
h1 {
    padding: 20px;
    color:#00e8fd;
    text-align:center;
    text-transform: uppercase;
}
p {
    padding: 10px;
    color:#00e8fd;
    text-align: center;
}
img {
    position: sticky;
    width: 400px;
    height: 500px;
}