<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn VueJS</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .red {
            color: cyan;
        }
    </style>
</head>
<body>
    <div id="app">{{ message }} from {{ name }} My NIM is {{ NIM }}
        <br>
        hoobies: {{ hoobies }}
        <br>
        Address: {{ address }}

        <br><br>
        Text Message: <input type="text" v-model="textMessage">
        <h3>{{ textMessage }} </h3>

        Name: <input type="text" v-model="name">

        <h2 v-if="on">This text will appears if the value of on is true</h2>
        <h2 v-else>This text will appears if the value of on is false</h2>

        <br>
        <hr>
        age: <input type="text" v-model="age">
        <h3 v-if="age <= 17">You Are Still Young</h3>
        <h3 v-else>You are old</h3>

        <br>
        <hr>
        <h2 v-bind:class="textColor">This Is Title</h2>
        
        
    </div>

    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    textColor: 'cyan',
                    on: false,
                    textMessage: '',
                    message: 'Hello Vue',
                    //add three more properties and display them!
                    name: 'Koyyy',
                    NIM: '2282026',
                    //add a property using array data types
                    //add a minimum of 3 elements (items)
                    age: '22',
                    gender: 'male',
                    hoobies: ['singing', 'playing valorant', 'sleeping'],
                    
                    //add a property with object data type
                    //add a minimum of 3 properties
                    address: {
                        street: 'Jl. Kolonel Masturi No. 288, Parongpong',
                        regency: 'Bandung Barat',
                        province: 'West Java'
                    }


                }
            }
        }).mount('#app')

        
    </script>
</body>
</html>